<!DOCTYPE html>
<html dir="ltr" lang="en-US"><head><!-- Created by Artisteer v4.0.0.58475 -->
    <meta charset="utf-8">
    <title>Contacts</title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">

    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="style.css" media="screen">
    <!--[if lte IE 7]><link rel="stylesheet" href="style.ie7.css" media="screen" /><![endif]-->
    <link rel="stylesheet" href="style.responsive.css" media="all">


    <script src="jquery.js"></script>
    <script src="script.js"></script>
    <script src="script.responsive.js"></script>
<meta name="description" content="Description">
<meta name="keywords" content="Keywords">



<style>.art-content .art-postcontent-0 .layout-item-0 { padding-left: 10px;  }
.ie7 .post .layout-cell {border:none !important; padding:0 !important; }
.ie6 .post .layout-cell {border:none !important; padding:0 !important; }

</style></head>
<body>
<div id="art-main">
<header class="art-header clearfix">


    <div class="art-shapes">
<h1 class="art-headline" data-left="1.09%">
    <a href="#">software company</a>
</h1>
<h2 class="art-slogan" data-left="1.09%">developing the future</h2>

<div class="art-object0" data-left="99.8%"></div>
<div class="art-textblock art-object554312304" data-left="0%">
        <div class="art-object554312304-text"></div>
    
</div>
            </div>

<nav class="art-nav clearfix">
    <div class="art-nav-inner">
    <ul class="art-hmenu"><li><a href="inicio.html">Inicio</a></li><li><a href="contacts.html" class="active">Contacts</a></li></ul> 
        </div>
    </nav>

                    
</header>
<div class="art-sheet clearfix">
            <div class="art-layout-wrapper clearfix">
                <div class="art-content-layout">
                    <div class="art-content-layout-row">
                        <div class="art-layout-cell art-sidebar1 clearfix"><div class="art-block clearfix">
        <div class="art-blockheader">
            <h3 class="t">Services</h3>
        </div>
        <div class="art-blockcontent"><p>Tortor felis per. <a href="#"><img width="8" height="6" alt="" src="images/5.png"></a></p><p>Eget fusce amet metus. <a href="#"><img width="8" height="6" alt="" src="images/5.png"></a></p><p>Tellus mauris. <a href="#"><img width="8" height="6" alt="" src="images/5.png"></a></p><p>A adipiscing ut morbi. <a href="#"><img width="8" height="6" alt="" src="images/5.png"></a></p><p>Nisi hymenaeos tempus. <a href="#"><img width="8" height="6" alt="" src="images/5.png"></a></p><p>Ac nullam tellus donec. <a href="#"><img width="8" height="6" alt="" src="images/5.png"></a></p><p>Sed justo ridiculus elit ac. <a href="#"><img width="8" height="6" alt="" src="images/5.png"></a></p><p>Vestibulum feugiat. <a href="#"><img width="8" height="6" alt="" src="images/5.png"></a></p><br><p><a href="#" class="art-button">Learn more</a></p></div>
</div><div class="art-block clearfix">
        <div class="art-blockheader">
            <h3 class="t">Connection</h3>
        </div>
        <div class="art-blockcontent"><p style="text-align: center;"><img width="50" height="50" alt="" src="images/1305276470_social_facebook_box_white.png"><img width="50" height="50" alt="" src="images/1305276480_social_twitter_box_white.png"><img width="50" height="50" alt="" src="images/1305276487_social_rss_box_white.png"></p></div>
</div><div class="art-block clearfix">
        <div class="art-blockheader">
            <h3 class="t">Noticias</h3>
        </div>
        <div class="art-blockcontent"><p style="border-bottom: 1px solid #374865"><a href="#">Sagittis praesent odio et velit scelerisque erat. Consectetuer neque libero nulla. Vestibulum at luctus non purus adipiscing tellus vehicula. </a><br><br></p><p style="border-bottom: 1px solid #374865"><a href="#">Mi tempus at eu orci luctus neque elit a tellus ut nibh.  Ultricies nec. Luctus ut morbi nunc ullamcorper aenean.  </a><br><br></p><p><a href="#">Id rhoncus quisque enim malesuada et at rutrum augue. Eleifend mi pede donec sed felis malesuada in at. Sociosqu fusce tellus nunc turpis.  </a></p></div>
</div></div>
                        <div class="art-layout-cell art-content clearfix"><article class="art-post art-article">
                                <h2 class="art-postheader">Contacts</h2>
                                                
                <div class="art-postcontent art-postcontent-0 clearfix"><div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-0" style="width: 100%" >
        <p>Pellentesque faucibus tincidunt ligula in in nullam ut.  sagittis inceptos tempus ad augue velit enim mi nullam fusce et bibendum accumsan enim vitae imperdiet leo at.</p><p>Urna semper morbi lacus eros in hendrerit quis vivamus curabitur.  Eget praesent amet nunc sem. Ultrices faucibus turpis lorem leo cras donec leo quis elementum.  Nec massa adipiscing in ut magna nisl vel id.</p><hr style="border:none;background-color:#b0b7c2;color:#b0b7c2;height:2px;"><h4>OUR ADDRESS</h4><p>Tortor  et amet vestibulum mi.<br>  Principal Ciudad, Country 12345-6789</p><p>Quam magna lacus. <br>  Leo ad ligula dui. </p><p>A. <a href="#">http://www.domain.com</a><br>  A. <a href="#">email@domain.com</a></p>
    </div>
    </div>
</div>
</div>
                                
                </article></div>
                    </div>
                </div>
            </div>
    </div>
<footer class="art-footer clearfix">
  <div class="art-footer-inner">
<div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-0" style="width: 50%">
        <p style="float: left; padding-left: 20px; text-align: left;"><a href="#">Inicio</a>|<a href="#">Contacto</a>|<a href="#">Support</a>|<a href="#">TOS</a></p>
    </div><div class="art-layout-cell layout-item-0" style="width: 50%">
        <p style="padding-right: 20px; text-align: left;">A duis quam leo suscipit donec nisl ante. <br>  Blandit. <a href="http://www.yootheme.com/">YOOtheme</a></p><br><br><p><br></p>
    </div>
    </div>
</div>

    <p class="art-page-footer">
        <span id="art-footnote-links"><a href="http://www.artisteer.com/" target="_blank">Web Template</a> created with Artisteer.</span>
    </p>
  </div>
</footer>

</div>


</body></html>